/* ****** Corpo Geral ******** */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800|Open+Sans:300,400,800');
body {
    background: rgb(226, 188, 188);
    font: 14px sans-serif, Arial, Tahoma;
    overflow-x: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
}

.bg {
    background: rgba(185, 143, 143, 0.829);
    height: 100%;
}

.navbar {
    background: rgb(228, 138, 115);
    box-shadow: 2px 2px 30px #ccc;
}

.nav-item {
    padding: 20px 10px;
}

.nav-item a {
    color: #FFE4E1;
    font-size: 1.1em;
}

.dropdown-menu a {
    color: #d82929;
}

.nav-item.menu {
    padding: 5px 10px;
}

.border {
    width: 50px;
    height: 50px;
    border: 1px solid #FFE4E1;
    padding: 5px;
}

#ui-datepicker-div {
    z-index: 1000 !important;
}

iframe.img-thumbnail {
    height: 400px;
}

main {
    width: 100%;
    min-height: 100%;
    background: #706262;
    padding-top: 120px;
}

footer p {
    margin: 10px;
}

.alert,
.btn,
.form-control {
    border-radius: 0;
}


/* ****** Tela Inicial ******* */

.coluna {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
}

.coluna.user {
    font-size: 1.5em;
    margin: 10px 0;
}

.coluna p strong {
    font-size: 5em;
}

.coluna p span {
    color: #666;
}

.coluna h1 {
    font-size: 2em;
    font-weight: bold;
}


/* ****** Tela de Erro 404 ******* */

.erro {
    padding: 100px 0;
}

.erro .erro-titulo {
    font-size: 10em;
    color: #00B0EF;
    text-align: right;
}

.erro h2 {
    margin-top: 50px;
}


/* ****** Tela de Login ******* */

.login {
    width: 400px;
    margin: 100px auto;
    background: rgb(219, 44, 44);
    border-radius: 5px;
    text-align: center;
    padding: 50px 50px 30px 50px;
}

.login h1 {
    font: 1.3em Montserrat;
    color: rgb(226, 241, 241);
    font-weight: 800;
}

.login h2 {
    font: 1.1em Montserrat;
    color: #333;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.login .input {
    text-align: center;
    background: #eee;
    color: #333;
    border-radius: 100px;
    border: 0;
    margin-bottom: 10px;
}

.login button {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #7FFF00;
    color: #fff;
    border-radius: 100px;
    border: 0;
    margin-top: 10px;
    transition: all 0.5s;
}

.login button:hover {
    background: #59B200;
}

.login p {
    margin: 30px;
}


/* **** Formulários **** */

label {
    font-weight: bold;
}

.parsley-required,
.parsley-equalto {
    color: #f00;
    list-style: none;
    margin: 10px 10px 10px -30px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: "Open Sans";
    font-size: 1.1em;
}

iframe {
    margin-top: 15px;
    border: 1px solid #ccc;
}

.row .btn {
    margin-top: 23px;
}


/* ****** Menu ******* */